@import '../../../../assets/css/function.scss';
.rule{
  padding:px2rem(70px) px2rem(60px);
  background: #fff;
  font-family: '微软雅黑';
  h5{
    font-size: px2rem(30px);
    text-align: center;
    margin: 0 auto;
    color: #000000;
  }
    p{
      font-size: px2rem(26px);
      line-height: px2rem(40px);
      color: #505050;
      margin-top: px2rem(20px);
      letter-spacing: px2rem(1px);
      span{
        color: #e95504;
      }
    }
    table{
      margin-top: px2rem(10px);
      width: 100%;
      border: 1px solid #e5e5e5;
      td{
        height: px2rem(46px);
        text-align: center;
        border: 1px solid #e5e5e5;
        color: #ea5504;
        font-size: px2rem(22px);
      }
    }
}