@import '../../../assets/css/function.scss';
.activityOne {
    box-sizing: border-box;
    height: 100%;
    padding-top: px2rem(1100px);
    .oneActive {
        width: 100%;
        margin-bottom: px2rem(-20px);
        position: absolute;
        top: 0;
    }
    .lqBtn {
        margin: 0 auto 0;
        width: 50%;
        position: relative;
        z-index: 10;
    }
}