 @import '../../../../../assets/css/function.scss';
.bankList{
    position: absolute;
    bottom: 0;
    z-index: 250;
    width: 100%;
    background: #fff;
    .bk_title{
        height: px2rem(88px);
        text-align: center;
        line-height: px2rem(88px);
        font-size: px2rem(28px);
        color: #505050;
        border-bottom: 1px solid #f0f0f0;
    }
    .bkList{
        height: px2rem(550px);
        overflow: scroll;
        -webkit-overflow-scrolling: touch !important;
        li{
            height: px2rem(88px);
            display: flex;
            align-items: center;
            color: #505050;
            font-size: px2rem(28px);
            border-bottom: 1px solid #f0f0f0;
            padding-left: px2rem(30px);
            justify-content: space-between;
            span:last-of-type{
                margin-right: px2rem(30px);
            }
        }
        .tjxk{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #f0f0f0;
            color: #505050;
            font-size: px2rem(28px);
            padding: 0 px2rem(30px);
            height: px2rem(88px);
            img{
                width: px2rem(36px);
            }
        }
    }
}
