@import '../../../../assets/css/function.scss';
.popupLeft{
    margin-bottom: px2rem(-20px);
    .mint-searchbar{
        background: white;
        padding: px2rem(10px);
    }
    .mint-searchbar-inner .mintui-search{
        font-size: px2rem(40px);
        color: #666;
    }
    .mint-searchbar-cancel{
        color: #505050;
        font-size: px2rem(28px);
        // display: none;
    }
    .mint-search{
        height: auto;
        position: absolute;
        top: 0;
        width: 100%;
        border-bottom: 1px solid #f0f0f0;
        z-index: 10;
    }
    .mintui-search{
        display: none;
    }
    .mint-searchbar-core{
        background: url('../tuiguang/img9.png') no-repeat left center;
        background-size: px2rem(40px) px2rem(40px);
        padding-left: px2rem(60px);
    }
    .mint-searchbar-core{
        font-size: px2rem(28px);
    }
    .dzList{
        position: absolute;
        top: px2rem(94px);
        bottom: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch !important;
        width: 100%;
    }
    .item{
        height: px2rem(80px);
        background: white;
        border-top: 1px solid #f0f0f0;
        display: flex;
        align-items: center;
        padding-left: px2rem(30px);
        font-size: px2rem(28px);
        color: #505050;
    }
}