@import "../../../../assets/css/function.scss";
.data1{
  width: px2rem(652px);
  background: white;
  .dt_title{
    text-align: center;
    font-size: px2rem(28px);
    color: #787878;
    height: px2rem(72px);
    line-height: px2rem(72px);
    border-bottom: 1px solid #f0f0f0;
  }
  ul{
    height: px2rem(800px);
    overflow: auto;
    li{
      border-bottom: 1px dashed #f0f0f0;
      text-align: center;
      font-size: px2rem(28px);
      color: #505050;
      height: px2rem(72px);
      display: block;
      line-height: px2rem(72px);
    }
    .cur{
      color: #ea5504;
    }
    li:last-child{
      border-bottom: none;
    }
  }
  .dt_btn{
    height: px2rem(72px);
    font-size: px2rem(28px);
    border-top: 1px solid #f0f0f0;
    color: #ea5504;
    line-height: px2rem(72px);
    text-align: center;
  }
}