@import '../../../../assets/css/function.scss';
.service{
  height: auto;
  padding: px2rem(36px);
  background: #fff;
    p{
      color: #505050;
      font-size: px2rem(26px);
      span{
        display: block;
      }
    }
  h5{
    margin-top: px2rem(20px);
  }
}
