@import '../../../assets/css/function.scss';
.appdownLoad{
    height: 100%;
    background: url('../../../assets/img/downBg.png') no-repeat;
    background-size: 100% 100%;
    .loadBox{
        overflow: auto;
        height: 40%;
    }
    .loadImg{
        padding-top: px2rem(30px);
        height: 50%;
    }
    .downText{
        width: 90%;
        display: block;
        margin: 0 auto;
    }
    button,.ios{
        display: block;
        width: 80%;
        height: px2rem(88px);
        margin: 0 auto;
        border-radius: px2rem(5px);
        border: none;
        font-size: px2rem(28px);
    }
    .andr{
        margin-top: 30%;
        background: white;
        color: #ea5504;
    }
    .ios{
        margin-top: 30%;
        background: white;
        color: #ea5504;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}