@import '../../../../assets/css/function.scss';
.quickInfo{
    height: 100%;
    .quickList{
        background: white;
        li{
            height: px2rem(88px);
            border-bottom: 1px solid #f0f0f0;
            margin: 0 px2rem(30px);
            display: flex;
            align-items: center;
            font-size: px2rem(28px);
            color: #505050;
            p:first-of-type{
                width: 75%;
            }
            p:last-of-type{
                img{
                    width: px2rem(38px);
                }
            }
            input{
                width: 75%;
                border: none;
                margin-left: px2rem(10px);
                font-size: px2rem(28px);
                color: #505050;
            }
        }
        .isxq,li:last-of-type{
            justify-content: space-between;
        }
        li:nth-child(2){
            color: #505050;
        }
        li:last-of-type{
            border: none;
            p:first-of-type{
                width: 65%;
            }
            button{
                border: none;
                border-left: 1px solid #f0f0f0;
                padding-left: px2rem(15px);
                background: white;
                font-size: px2rem(26px);
                color: #505050;
            }
        }
    }
    .nCode{
        overflow: hidden;
        span{
            float: right;
            margin-top: px2rem(20px);
            margin-right: px2rem(30px);
            font-size: px2rem(28px);
            color: #ea5504;
        }
    }
    .btn{
        display: block;
        margin: px2rem(40px) auto px2rem(20px);
        width: 90%;
        background: #ea5504;
        color: white;
        border: none;
        height: px2rem(90px);
        border-radius: px2rem(10px);
        font-size: px2rem(30px);
    }
    .cfBtn{
        background: #ccc;
    }
}