@import '../../../assets/css/function.scss';
.register {
  .iconfont{
    color: #9f9f9f;
    vertical-align: middle;
  }
  .ment{
    display: flex;
    justify-content: center;
    margin-top: px2rem(10px);
    p{
      display: flex;
      align-items: center;
      margin-left: px2rem(-10px);
    }
    color: #9f9f9f;
    font-size: px2rem(26px);
    span{
      color: #787878;
    }
    i{
      padding: px2rem(20px);
      font-size: px2rem(30px);
    }
    .xySelected{
      color: #e95504;
      vertical-align: middle;
    }
  }
}