 @import '../../../assets/css/function.scss';
 .make{
   font-size: px2rem(26px);
   color: #F7931E;
   padding: px2rem(30px);
 }
 .plain{
   margin-top: px2rem(88px);
   margin-left: px2rem(30px);
   p{
     line-height: px2rem(39px);
     color: #A0A0A0;
     font-size: px2rem(26px);
   }
 }