* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 20px;
}

body {
	background: #fff;
	height: 100%;
}

img {
	pointer-events: none;
}

.page {
	font-family: "微软雅黑";
}

.bg {
	width: 100%;
	position: absolute;
	top: 0;
}

.activity_sm {
	position: absolute;
	top: 1.5rem;
	right: 0;
	width: 4rem;
	height: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.7rem;
	color: white;
	background: rgb(228, 123, 30);
	border-radius: 0.6rem 0 0 0.6rem;
	z-index: 10;
}

.page-current {
	background: white;
}

.modal {
	font-size: 0.72rem;
}

.modal-title {
	font-size: 0.8rem;
}

.telVal {
	margin: 20rem auto 1rem;
	display: block;
	border: none;
	background: #faddcd;
	width: 70%;
	height: 2rem;
	font-size: 0.7rem;
	text-align: center;
	border-radius: 0;
	position: relative;
	z-index: 10;
}

.btn {
	margin: 0.6rem auto 1.5rem;
	background: #ea5504;
	width: 70%;
	height: 2rem;
	border: none;
	display: block;
	font-size: 0.7rem;
	color: white;
	position: relative;
	z-index: 10;
}

.page,
.page-group {
	height: 100%;
	overflow: scroll !important;
	-webkit-overflow-scrolling: touch !important;
}

h3 {
	font-size: 0.75rem;
	color: rgb(249, 236, 89);
	font-weight: 400;
	text-align: center;
	padding-top: 0.5rem;
}

.left {
	text-align: left;
}

.code {
	width: 70%;
	margin: 0.6rem auto;
	overflow: hidden;
	display: none;
	position: relative;
	z-index: 10;
}

.codeVal {
	width: 55%;
	height: 2rem;
	float: left;
	background: #faddcd;
	font-size: 0.7rem;
	border: none;
	text-align: center;
	color: #666;
	border-radius: 0;
}

.codebtn {
	width: 42%;
	float: right;
	background: #faddcd;
	font-size: 0.7rem;
	border: none;
	height: 2rem;
	color: #666;
}

#router2 {
	background: white;
	height: 100% !important;
}

.winner {
	width: 7rem;
	margin: 4.5rem auto 0;
	display: block;
}

.gx {
	color: #505050;
	margin: 0;
	font-size: 0.8rem;
	text-align: center;
}

.downLoadBtn {
	color: #fff;
	background: #ea5504;
	display: block;
	margin: 1rem auto 0;
	border: 0;
	font-size: 0.6rem;
	width: 60%;
	padding: 0.3rem 0;
	border-radius: 0.2rem;
}

.downLoadGoto {
	color: #fff;
	background: #ea5504;
	display: block;
	margin: 7rem auto 0;
	border: 0;
	font-size: 0.6rem;
	width: 60%;
	padding: 0.3rem 0;
	border-radius: 0.2rem;
}

.lqbtn {
	margin: 0.6rem auto 1.5rem;
	background: #ea5504;
	width: 70%;
	height: 2rem;
	border: none;
	display: block;
	font-size: 0.7rem;
	color: white;
	display: none;
	position: relative;
	z-index: 10;
}