@import '../../../../assets/css/function';
.explain{
  padding: px2rem(30px);
  h5{
    font-size: px2rem(30px);
    color: #505050;
  }
  p{
    margin-top: px2rem(20px);
    font-size: px2rem(25px);
  }
}