@import '../../../../assets/css/function.scss';
.twoActive{
    width: 100%;
    font-family: '微软雅黑';
    .box1{
        padding: px2rem(60px) 0;
        background: #e95504;
        text-align: center;
        color: #fff;
        position: relative;
        b{
            position: absolute;
            color: #fff;
            font-size: px2rem(25px);
            float: right;
            font-style: normal;
            margin-right: px2rem(10px);
            top: px2rem(10px);
            right: px2rem(10px);
        }
        p{
            //padding: px2rem(50px) 0;
            font-size: px2rem(25px);
            opacity: 0.9;
        }
        p:nth-child(2){
            font-size: px2rem(60px);
            font-weight: 600;
            padding: px2rem(5px) 0;
            i{
                font-size: px2rem(30px);
                font-style: normal;
            }
        }
        p:nth-child(3){
            font-size: px2rem(30px);
        }
    }
    .list{
        height: px2rem(80px);
        display: flex;
        background: #fff;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            color: #e95504;
            font-size: px2rem(25px);
            border-right: 1px solid #f1f1f1;
            img{
                width: px2rem(36px);
                height: px2rem(36px);
                display: inline;
                margin-right: px2rem(10px);
            }
        }
        a:last-child{
            border-right: 0;
        }
    }
    .statistics{
        background: #fff;
        margin-top: px2rem(20px);
        padding: 0 px2rem(15px);
        color: #505050;
        p{
          font-size: px2rem(25px);
            height: px2rem(80px);
            line-height: px2rem(80px);
            border-bottom: 1px solid #f1f1f1;
            padding-left: px2rem(10px);
            i{
                width: px2rem(5px);
                height: px2rem(21px);
                background: #e95504;
                display: inline-block;
                margin-right: px2rem(15px);
            }
        }
        ul{
            padding: px2rem(20px) 0;
            li{
                padding-left: px2rem(15px);
                font-size: px2rem(25px);
                line-height: px2rem(37px);
                span{
                    float: right;
                    color: #e95504;
                    margin-right: px2rem(50px);
                }
            }
        }
    }
    .ranking{
        margin-top: px2rem(20px);
        background: #fff;
        padding: 0 px2rem(20px);
        p{
            img{
                width: px2rem(40px);
                display: inline;
                margin-right: px2rem(10px);
            }
            height: px2rem(80px);
            line-height: px2rem(80px);
            text-align: center;
            border-bottom: 1px solid #f1f1f1;
            color: #f6921e;
            font-size: px2rem(30px);
        }
        .box_ul1,.box_ul2{
            padding: 0 px2rem(20px);
            display: flex;
            position: relative;
            li {
                flex: 1;
                height: px2rem(70px);
                line-height: px2rem(70px);
                display: flex;
                border-bottom: 1px solid #f1f1f1;
                justify-content: center;
                i{
                    width: px2rem(35px);
                    height: px2rem(35px);
                    background: #e95504;
                    border-radius: 50%;
                    font-style: normal;
                    color: #fff;
                    margin-top: px2rem(10px);
                    line-height: px2rem(35px);
                    text-align: center;
                    margin-left: px2rem(5px);
                }
            }
            li:nth-child(2){
                flex: 2;
            }
            li:nth-child(3){
                flex: 2;
                color: #e95504;
                font-weight: 600;
            }
            li:nth-child(4){
                flex: 2;
            }
            .box_list_2 li{
                height: px2rem(90px);
                line-height: px2rem(90px);
                border-bottom: 1px solid #f1f1f1;
            }
            .box_list_2 li:nth-child(4){
                color: #e95504;
            }
        }
        .box_ul2:last-of-type{
            li{
                border: none;
            }
        }
        .listed li{
            color: #f6921e;
        }
      .list_img{
        background: url(../tuiguang/img3.png) no-repeat left;
        width: px2rem(28px);
        background-size: 40%;
      }
      .list_img1{
        background: url(../tuiguang/img4.png) no-repeat left;
        width: px2rem(28px);
        background-size: 40%;
      }
      .list_img2{
        background: url(../tuiguang/img5.png) no-repeat left;
        width: px2rem(28px);
        background-size: 40%;
      }
    }
}